body {
  display: flex;
  flex-direction: column;
}

.header-bar {
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.header-title {
  flex: 10;
}

.flex {
  flex: 1;
}

.flex-column {
  flex: 1;
  flex-direction: column;
}

.delete-button {
  height: 25px;
  width: 25px;
}

.document-body {
  display: flex;
  align-items: flex-start;
}

.vinyl-image {
  flex-direction: row;
  max-width: 100%;
  max-height: 50vh;
}

.album-list {
  flex: 4;
}

.review-list {
  flex: 8;
}
