<!DOCTYPE html>
<html>

<head>
  <title>Vinyl</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
  <script type="text/javascript" src="/script.js"></script>
</head>

<body>
  <% include ../partials/header.ejs %>
  <div class="document-body">
    <h2>Sign Up for Vinyl</h2>
    <form method="POST" action="/signup" class="new-user-form">
      <label>
    <span>Name</span>
    <input type="text" name="name" required/>
  </label>
      <label>
    <span>Email</span>
    <input type="email" name="email" required/>
  </label>
      <label>
    <span>Password</span>
    <input type="password" name="password" required/>
  </label>
      <input type="submit" value="Sign Up">
    </form>
  </div>
</body>

</html>
