<nav class="header-bar">
  <h1 class="header-title"> Vinyl </h1>
  <% if(!userSession) { %>
    <h1 class="flex"><a href="/signup"> Signup </a></h1>
    <h1 class="flex"><a href="/signin"> Signin </a></h1>
    <% } else { %>
      <h1 class="flex"><a href= "/users/<%= userSessionID %>"> Profile </a></h1>
      <h1 class="flex"><a href="/signout"> Signout </a></h1>
    <% } %>
</nav>
