<nav>
  <h1> Vinyl </h1>
  <% if(!userSession) { %>
    <a href="/signup"> Signup </a>
    <a href="/signin"> Signin </a>
  <% } else { %>
    <a href= '/users/<%= userSessionID %>'> Profile </a>
    <a href="/signout"> Signout </a>
  <% } %>
</nav>
