<!DOCTYPE html>
<html>
<head>
  <title><%= user.account_name %></title>
  <link rel="stylesheet" type="text/css" href="/style.css">
  <script type="text/javascript" src="/script.js"></script>
</head>
<body>
  <% include ../partials/header.ejs %>

  <h1><%= user.account_name %></h1>
  <h1><%= user.email %></h1>
  <h1><%= user.date_joined %></h1>

  <h2>Reviews</h2>

</body>
</html>
